/** @format */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
}

#map {
  min-height: 100vh;
  width: 100%;
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;
  padding: 0 10px;
}

#overview {
  display: none;
}

.overview-title,
.list-title {
  text-align: center;
  margin: 1rem 0 0;
}

#list > div {
  background-color: whitesmoke;
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 0 1rem;
}
