/** @format */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.btn-container {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}

#rating-content-container, #new-restaurant-container {
  display: none;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 300px; 
}

.rating-content, .new-restaurant {
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: row;
}

#map {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;
  max-height: 100vh;
  padding: 0 10px;
  overflow-y: scroll;
}

#overview {
  display: none;
}

#overview-picture {
  margin: auto;
  width: 290;
}

.overview-title,
.list-title {
  text-align: center;
  margin: 1rem 0 0;
}

.filter-container h3 {
  margin: 0;
}

.filter {
  display: flex;
  flex-direction: row;
}

.select-filters {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.restaurant-card, .review-card {
  background-color: whitesmoke;
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 0 1rem;
}

.add-rating, .close-overview {
  margin: 1rem auto;
}
